<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'StatsGridOrbs4',
});
</script>

<template>
  <div ref="path" class="path">
    <svg
      width="545"
      height="615"
      viewBox="0 0 545 615"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        opacity="0.5"
        d="M361.974 281.661C398.989 259.69 436.313 246.508 468.557 246.015C550.224 244.766 568.38 325.385 509.105 426.082C449.831 526.779 335.576 609.424 253.907 610.672C190.088 611.649 165.054 562.632 185.445 493.107"
        stroke="#9B91CC"
        stroke-width="0.813486"
        stroke-linecap="round"
        stroke-dasharray="1.25 10.01"
      />
      <g filter="url(#filter0_d_463_6305)">
        <path
          d="M162.638 610.934C165.1 610.934 167.097 608.937 167.097 606.473C167.097 604.01 165.1 602.013 162.638 602.013C160.175 602.013 158.179 604.01 158.179 606.473C158.179 608.937 160.175 610.934 162.638 610.934Z"
          fill="url(#paint1_linear_463_6305)"
        />
      </g>
      <g filter="url(#filter1_d_463_6305)">
        <path
          d="M478.533 421.828C479.763 421.828 480.761 420.831 480.761 419.6C480.761 418.369 479.763 417.371 478.533 417.371C477.302 417.371 476.305 418.369 476.305 419.6C476.305 420.831 477.302 421.828 478.533 421.828Z"
          fill="url(#paint2_linear_463_6305)"
        />
      </g>
      <g filter="url(#filter2_d_463_6305)">
        <path
          d="M439.459 253.921C441.922 253.921 443.918 251.924 443.918 249.461C443.918 246.997 441.922 245 439.459 245C436.996 245 435 246.997 435 249.461C435 251.924 436.996 253.921 439.459 253.921Z"
          fill="url(#paint3_linear_463_6305)"
        />
      </g>

      <defs>
        <filter
          id="filter0_d_463_6305"
          x="154.939"
          y="598.773"
          width="15.3965"
          height="15.3994"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6305"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6305"
            result="shape"
          />
        </filter>
        <filter
          id="filter1_d_463_6305"
          x="473.065"
          y="414.132"
          width="10.9346"
          height="10.9355"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6305"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6305"
            result="shape"
          />
        </filter>
        <filter
          id="filter2_d_463_6305"
          x="431.761"
          y="241.761"
          width="15.3965"
          height="15.3994"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6305"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6305"
            result="shape"
          />
        </filter>
        <radialGradient
          id="paint0_radial_463_6305"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(281.639 351.388) rotate(90) scale(131.938 133.943)"
        >
          <stop stop-color="#B092F2" stop-opacity="0.4" />
          <stop offset="0.856688" stop-color="#B092F2" stop-opacity="0" />
        </radialGradient>
        <linearGradient
          id="paint1_linear_463_6305"
          x1="158.564"
          y1="608.093"
          x2="166.812"
          y2="604.699"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFC783" />
          <stop offset="1" stop-color="#FCA121" />
        </linearGradient>
        <linearGradient
          id="paint2_linear_463_6305"
          x1="476.513"
          y1="420.353"
          x2="480.633"
          y2="418.657"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#F39FC5" />
          <stop offset="1" stop-color="#E24329" />
        </linearGradient>
        <linearGradient
          id="paint3_linear_463_6305"
          x1="435.38"
          y1="251.069"
          x2="443.628"
          y2="247.674"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#5DDAB4" />
          <stop offset="1" stop-color="#338F7E" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.path {
  position: absolute;
  top: -39%;
  left: -7%;
  width: 111%;
  svg {
    width: 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>
