<script lang="ts">
import Vue from 'vue';
import {
  SideNavigationVariant,
  NextStep,
  GroupButtons,
  SlpBreadcrumb,
  Faq,
  ReportCta,
} from '../../common/index.vue';
import {
  BySolutionHero,
  BySolutionValueProp,
  BySolutionBenefits,
  BySolutionLink,
  BySolutionIntro,
  BySolutionAccordeon,
  BySolutionCasestudies,
  BySolutionListImage,
  BySolutionShowcase,
} from '../by-solution/index.vue';
import {
  ByIndustryCaseStudies,
  ByIndustryIntro,
  ByIndustrySolutionsBlock,
} from '../by-industry/index.vue';
import {
  OpenSourcePartnersGrid,
  PartnersGridFull,
  OverviewBlocks,
  OpenSourceBlog,
  OpenSourceFormSection,
} from '../../open-source/index.vue';
import { CarouselComponent as ByIndustryQuotesCarousel } from '../by-industry/quotes-carousel/index.vue';
import {
  SolutionsHero,
  SolutionsResourceCards,
  TierBlock,
  CtaBlock,
} from '../index.vue';
import { CustomerLogos } from '../../why/index.vue';
import { EducationCaseStudyCarousel } from '../education/index.vue';
import {
  StartupsIntro,
  StartupsOverview,
  StartupsLink,
} from '../startups/index.vue';

export default Vue.extend({
  name: 'IndustryTemplate',
  components: {
    TierBlock,
    NextStep,
    CtaBlock,
    StartupsIntro,
    StartupsOverview,
    StartupsLink,
    BySolutionShowcase,
    SlpBreadcrumb,
    OpenSourceBlog,
    BySolutionHero,
    BySolutionValueProp,
    OpenSourcePartnersGrid,
    OverviewBlocks,
    EducationCaseStudyCarousel,
    BySolutionBenefits,
    SolutionsResourceCards,
    CustomerLogos,
    BySolutionIntro,
    BySolutionAccordeon,
    PartnersGridFull,
    BySolutionCasestudies,
    BySolutionListImage,
    BySolutionLink,
    SideNavigationVariant,
    SolutionsHero,
    ByIndustryIntro,
    ByIndustryCaseStudies,
    ByIndustryQuotesCarousel,
    ByIndustrySolutionsBlock,
    GroupButtons,
    Faq,
    OpenSourceFormSection,
    ReportCta,
  },
  props: {
    solutions: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <SlpBreadcrumb
        v-if="solutions.breadcrumbs"
        :crumbs="solutions.breadcrumbs"
      />
    </SlpContainer>
    <component
      :is="component.name"
      v-for="component in solutions.components"
      :key="component.name"
      :data="component.data"
      v-bind="component"
    >
      <slot v-if="component.slot_enabled">
        <component
          :is="subcomponent.name"
          v-for="(subcomponent, item) in component.slot_content"
          :key="item"
          v-bind="subcomponent"
        >
          <slot v-if="subcomponent.slot_enabled">
            <component
              :is="contents.name"
              v-for="(contents, subitem) in subcomponent.slot_content"
              :key="subitem"
              v-bind="contents"
            />
          </slot>
        </component>
      </slot>
    </component>
    <SlpContainer :variant="solutions.no_gradient ? '' : 'gradient'">
      <NextStep :variant="solutions.nextstep_variant" />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
div[role='main'] {
  overflow: clip;
}
</style>
