<script lang="ts">
import Vue from 'vue';

interface Section {
  title: string;
  list: string[];
}

export default Vue.extend({
  name: 'FeaturedSpeaker',
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: Array as () => Array<string>,
      required: true,
    },
    sections: {
      type: Array as () => Array<Section>,
      required: true,
    },
  },
});
</script>

<template>
  <div class="featured-speaker">
    <SlpContainer>
      <SlpRow>
        <SlpTypography class="slp-pb-16" tag="h1" variant="heading2-bold">{{
          title
        }}</SlpTypography>
        <SlpTypography
          v-for="sentence in description"
          :key="sentence"
          class="slp-pb-8"
          >{{ sentence }}</SlpTypography
        >
      </SlpRow>
      <div class="slp-pt-32 slp-flex featured-speaker__sections">
        <div
          v-for="section in sections"
          :key="section.title"
          class="featured-speaker__section"
        >
          <SlpTypography tag="h1" variant="heading5-bold">{{
            section.title
          }}</SlpTypography>
          <SlpTypography
            v-for="item in section.list"
            :key="item"
            variant="body2"
            tag="p"
            class="slp-pt-24"
            style="display: flex; align-items: flex-start"
          >
            <img
              class="slp-mr-8"
              src="/nuxt-images/icons/events/lightning.svg"
            />
            {{ item }}
          </SlpTypography>
        </div>
      </div>
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
.featured-speaker {
  padding: $spacing-96 0;
  background: linear-gradient(
    165.41deg,
    #fadcd7 0%,
    #f8f5ff 23.65%,
    #ffffff 54.66%,
    #f6f3fe 80.95%,
    #ffd4d8 100.92%
  );

  &__sections {
    gap: $spacing-32;
    flex-direction: row;
    align-items: flex-start;

    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }

  &__section {
    padding: $spacing-32 + $spacing-8;
    background: $color-surface-50;
    border-radius: $border-radius-4;

    &:nth-child(even) {
      border-bottom-right-radius: $border-radius-pill;
    }
  }
}
</style>
