<script>
export default {
  name: 'AutomateCodeIcon',
};
</script>

<template>
  <svg
    width="25"
    height="25"
    viewBox="0 0 25 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M5.5 18H2V21.5" stroke="white" stroke-miterlimit="10" />
    <path d="M19.5 7H23V3.5" stroke="white" stroke-miterlimit="10" />
    <path
      d="M1 12.5C1 6.15 6.15 1 12.5 1C16.85 1 20.63 3.41 22.58 6.97"
      stroke="white"
      stroke-miterlimit="10"
    />
    <path
      d="M24 12.5C24 18.85 18.85 24 12.5 24C8.13999 24 4.34999 21.57 2.39999 18"
      stroke="white"
      stroke-miterlimit="10"
    />
  </svg>
</template>

<style lang="scss" scoped></style>
