<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface Badge {
  src: string;
  alt?: string;
}

export default Vue.extend({
  props: {
    header: {
      type: String,
      required: true,
    },
    badges: {
      type: Array as PropType<Badge[]>,
      required: true,
    },
  },
});
</script>

<template>
  <div class="by-solution-header">
    <div class="text">
      <SlpIcon name="idea-collaboration" variant="marketing" size="md" />
      <SlpTypography variant="body3-bold"> Our Solutions</SlpTypography>
      <SlpTypography variant="heading4-bold"> {{ header }}</SlpTypography>
    </div>
    <div class="badges">
      <nuxt-img
        v-for="image in badges"
        :key="image.src"
        :src="image.src"
        :alt="image.alt"
        width="96px"
        height="122px"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.by-solution-header {
  background-color: $color-surface-800;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
  @media (min-width: $breakpoint-lg) {
    padding: 48px;
    flex-direction: row;
    gap: 48px;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .badges {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 0;
    justify-content: center;
    @media (min-width: $breakpoint-lg) {
      gap: 0 48px;
      grid-template-columns: repeat(4, 1fr);
    }
    img {
      @media (max-width: $breakpoint-lg) {
        max-width: 100%;
      }
    }
  }
}
</style>
