<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'BySolutionLink',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer
    class="by-solution-link"
    data-aos="fade-up"
    :data-aos-duration="500"
  >
    <SlpRow>
      <SlpColumn class="left" :cols="7">
        <nuxt-img
          class="by-solution-link__image"
          :src="data.image"
          :alt="data.alt"
          loading="lazy"
        />
      </SlpColumn>
      <SlpColumn class="right" :cols="5">
        <SlpIcon
          name="calendar-alt-2"
          alt="Calendar Icon"
          size="md"
          variant="marketing"
        />
        <SlpTypography variant="heading2-bold" class="slp-mt-24">{{
          data.title
        }}</SlpTypography>
        <SlpTypography variant="body1" class="slp-mt-24">{{
          data.description
        }}</SlpTypography>
        <SlpButton
          class="slp-pl-0 slp-mt-24"
          :href="data.link"
          variant="tertiary"
          data-ga-name="Learn More"
          data-ga-location="body"
        >
          <span
            class="slp-mr-8"
            v-html="data?.button_text ? data.button_text : 'Learn More'"
          ></span>
          <SlpIcon
            name="chevron-lg-right"
            variant="product"
            hex-color="#171321"
            alt="Chevron Right Icon"
          />
        </SlpButton>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.slp-pl-0 {
  padding-left: 0 !important;
}

.by-solution-link {
  margin-bottom: $spacing-96;

  .left {
    .by-solution-link {
      width: 100%;
      height: 100%;
    }
  }

  .right {
    padding: $spacing-32;
    display: flex;
    flex-direction: column;
    background-color: $color-surface-800;
    border-radius: 0 4px 100px 0;
  }
}
</style>
