<script>
export default {
  props: {
    cta: {
      type: Object,
      required: false,
      default: null,
    },
    tabs: {
      type: Array,
      required: true,
    },
    selectedTab: {
      type: Number,
      required: true,
    },
    gaLocation: {
      type: String,
      required: false,
      default: 'body',
    },
  },
};
</script>

<template>
  <div class="customers_tabs">
    <div class="tabs-container">
      <SlpTypography
        v-for="(tab, index) in tabs"
        :key="tab"
        variant="body2-bold"
        :class="{ active: index === selectedTab }"
        @click.native="$emit('change', index)"
      >
        {{ tab }}
      </SlpTypography>
    </div>
    <SlpButton
      v-if="cta"
      class="learn-more-button"
      variant="tertiary"
      :href="cta.href"
      :data-ga-name="cta.data_ga_name || cta.text"
      :data-ga-location="cta.data_ga_location || gaLocation"
      >{{ cta.text }}<SlpIcon variant="product" name="chevron-lg-right"
    /></SlpButton>
  </div>
</template>

<style lang="scss">
.tabs-container {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}
.customers_tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  margin: $spacing-48 0;
  @media (max-width: $breakpoint-md) {
    justify-content: flex-start;
  }
  .learn-more-button {
    padding-top: 0;
    padding-bottom: 24px;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  span {
    transition: all 0.2s;
    cursor: pointer;
    width: auto;
    white-space: nowrap;
    padding: 0 24px 16px 24px;
    text-align: center;
    border-bottom: 4px solid transparent;
    position: relative;
    transition: color 0.2s;
    &:hover {
      color: $color-text-link-100;
    }
  }
  .active {
    border-bottom: 4px solid #7759c2;
  }
  &:before {
    content: '';
    height: 2px;
    width: 100%;
    background: $color-surface-900;
    position: absolute;
    bottom: 2px;
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
}
</style>
